@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

.App {
  text-align: center;
}

body {
  background-image: repeating-radial-gradient(circle at center center, rgba(230, 46, 11,0.25) 0px, rgba(230, 46, 11,0.25) 1px,transparent 1px, transparent 3px),linear-gradient(45deg, hsl(306,7%,96%) 0%,hsl(306,7%,96%) 78%); background-size: 14px 14px;
  font-family: 'Goudy Bookletter 1911', serif;
}
